<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")  %>

<body>
    <%- include("./partials/nav.ejs")  %>

    <div class="container d-flex justify-content-center mt-5">
        <div class="card" style="width: 15rem;">
            <% if (image.length > 0) { %>
            <% image.forEach(function(imageS){ %>
    
                <img src="/tmp/my-uploads/<%= imageS.path %> " class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-secondery"><%= imageS.caption %></p>
                </div>
    
            <% }); %>
            
            <% } else { %>
            <p>Sorry there are no Images to display :(</p>
            <% } %>
        </div>
    </div>

    <%- include("./partials/bootstrapScripts.ejs")  %>
</body>

</html>